// Virible
:root {
    --main-color: #ff8716;
    --p-color: #7b7b7b;
    --bg-color: #F3F3F3;
    --white-color: #fff;
    --color-heading: #121416;
    --border-color: #e5e5e5d5;
    --Sale-color: #E51A1A;
}

// Body
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}



// Header Start
// Header End


// Hero Section Start
// Hero Section End


// Banners 1 Start
// Banners 1 End


// Banners 3 Start
// Banners 3 End


// Banners 1 Start
// Banners 1 End


// Footer Start
// Footer End