/* Import Tailwind CSS */
@import "tailwindcss";


/* Import Flowbite */
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


/* Virbiles */
@theme {
  /* Colors */
  --color-main: #ff8716;
  --color-p: #7b7b7b;
  --color-bg: #f3f3f3;
  --color-heading: #121416;
  --color-sale: #e51a1a; 
}
